* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    background-image: url("../assets/img/Photo-277\ 1-min.svg");
    height: 891px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.margin_auto {
    margin: 0 auto;
}

.top {
    padding-top: 60px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.header_item {
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.menu ul li {
    list-style: none;
}

.header_text {
    margin-top: 166px;
    max-width: 90%;
    height: 204px;
}

.header_text p {
    max-width: 740px;
    height: 40px;
}

.header_text .title {
    font-size: 65px;
    color: #FFFFFF;
    line-height: 76px;
    font-weight: 900;
}

.header_text .text {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    font-weight: 400;
}

.header_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 160px;
    padding-left: 82px;
}

.header_contact .text {

    font-size: 20px;
    color: #FFFFFF;
    font-weight: 900;
}

.header_line {
    position: absolute;
    right: 0;
}

.header_arrow {
    padding-top: 25px;
}

.about {
    display: flex;
    margin-top: 10px;
    margin-bottom: 236px
}

.about_vektor {
    max-width: 1210px;
    height: 1192px;
    background-image: url("../assets/icon/Vector\ 1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about01 {
    padding-top: 74px;
    padding-left: 110px;
}

.about_info {
    display: flex;
    margin-top: 78px;
    width: 100%;
    margin-left: 90px;
}

.about_info_title {
    font-size: 50px;
    font-weight: 900;
}

.about_info_text {
    max-width: 40%
}

.about_img {
    background-image: url("../assets/img/Mask\ Group.svg");
    width: 100%;
    height: 628px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 73px;
}

.about_img_second {
    background-image: url("../assets/img/Mask\ Group.svg");
    width: 100%;
    height: 436px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_info_second_text {
    max-width: 40%;
    margin-left: 34px;
}

.about_info_second {
    display: flex;
    width: 100%;
    margin-top: 125px;
    margin-left: -60px;
}

.about_contact {
    display: flex;
}

.about_contact p {
    font-size: 20px;
    font-weight: 900;
    margin-right: 5px;
}

hr {
    width: 670px;
    border: 2px;
    border-style: inset;
    border-color: #991B1F;
}

.services {
    display: flex;
    height: 616px;
    background-image: url("../assets/img/Mask\ Group_.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_vector {
    width: 1358px;
    height: 686px;
    background-image: url("../assets/icon/Vector\ 3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_02 {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 86px;
    padding-right: 30px;
}

.services_title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider_item {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.slider_img {
    display: flex;
}

.services_img_icon img {
    height: 45px;
}

.services_title_name {
    font-size: 50px;
    font-weight: 900;
    line-height: 58px;
    color: #FFFFFF;
}

.all_services {
    font-size: 20px;
    font-weight: 900;
    line-height: 22px;
    color: #FFFFFF;
}

.slider_img_item img {
    height: 526px;
}

.clients_news {
    display: flex;
}

.clients_news_vector {
    width: 1428px;
    height: 1531px;
    background-image: url("../assets/icon/Vector_04.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients_04 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 134px;

}

.clients_04_title {
    font-size: 50px;
    font-weight: 900;
}

.clients_logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 24px;
}

.clients_05 {
    display: flex;
    align-items: center;
    padding-top: 168px;
    padding-left: 72px
}

.clients_05_title {
    font-size: 50px;
}

.clients_05_icon {
    padding-left: 45px;
}

.news {
    display: flex;
    justify-content: space-around;
}

.news_text {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 40px;
}

.news_info {
    max-width: 566px;
}

.news_date {
    font-size: 14px;
    color: #C8C8C8;
}

.news_title {
    font-size: 28px;
}

.more_details_title {
    font-size: 20px;
    margin-right: 12px;
}

.more_details {
    display: flex;
    align-items: center
}

.news_img {
    width: 40%;
    height: 664px;
    background-image: url("../assets/img/Photo-607\ \(166\)\ \(1\).svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all_news {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -134px;
    margin-left: -98px;
}

.all_news_line {
    float: right;
}

.all_news_title {
    font-size: 20px;
    font-weight: 900;
    margin-right: 12px;
}

.send_request {
    display: flex;
    height: 720px;
    background-image: url("../assets/img/Photo-600\ \(1\).svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.send_request_vector {
    width: 1406px;
    height: 719px;
    background-image: url("../assets/icon/Vector\ 4.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.help {
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 146px;
    padding-left: 55px;
}

.help_text {
    max-width: 600px;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 55px;
}

.help_inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
    padding-top: 50px;
    padding-right: 141px;
}

.help_input_text {
    width: 470px;
    height: 55px;
    border: none;
    border-radius: 30px;
    text-align: center;
}

.help_input_button {
    width: 470px;
    height: 55px;
    border: none;
    border-radius: 30px;
    text-align: center;
    background-color: black;
    color: #FFFFFF;
}

.map {
    position: relative;
    height: 620px;
    background-image: url("../assets/img/Screenshot_2\ 1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.contacts {
    position: absolute;
    width: 544px;
    height: 278px;
    background-color: #FFFFFF;
    margin-left: 200px;
    margin-top: 146px;
}

.contacts_title {
    font-size: 35px;
}

.contact_wrraper {
    padding-left: 48px;
    padding-top: 38px;
}

.contacts_item {
    padding-top: 20px
}

.contacts_item span {
    margin-left: 12px;
}

.footer {
    padding: 30px;
}

.footer_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_nav {
    display: flex;
    gap: 20px;
}

.footer_nav ul li {
    list-style: none;
}

.footer_nav a {
    text-decoration: none;
    color: #A31C21;
    font-size: 12px;
}

@media(max-width:1200px) {

    .about_info {
        margin-left: 0px;
        padding: 0 20px;
    }

    .services_vector {
        max-width: 1000px;
    }

    .slider_img_item img {
        height: 448px;
    }

    .slider_arrow_left {
        display: none;
    }

    .services_img_icon {
        display: none;
    }

    .clients_news {
        display: flex;
        justify-content: center;
    }

    .clients_05 {
        display: flex;
        justify-content: center;
    }

    .news {
        display: flex;
        justify-content: center;
    }

    .news_img {
        width: 30%;
    }

    .help_inputs {
        align-items: center;
    }
}

@media(max-width:992px) {

    .menu {
        display: none;
        position: absolute;
        top: 120px;
        right: 0;
        width: 100%;
        background: linear-gradient(90deg, rgba(153, 27, 31, 1) 50%, rgba(237, 28, 36, 1) 69%);
        text-align: center;
        opacity: 0.9;
    }

    .menu ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu a {
        font-size: 25px;
        font-weight: 900;
    }

    .burger-menu {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:767px) {

    .header_text {
        padding: 0 20px;
    }

    .header_item {
        padding: 0 20px;
    }

    .header_text .title {
        font-size: 50px;
    }

    .header_contact {
        display: flex;
        justify-content: space-evenly;
        padding-top: 125px;
    }

    .header_arrow {
        padding-left: 20px;
    }

    .about {
        margin: 0;
    }

    .about_info {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .about_img_second {
        display: none;
    }

    .about p {
        display: none;
        margin: 0;
        padding: 0;
    }

    .about_img {
        margin: 0;
    }

    .about01 {
        padding: 0 20px;
    }

    .about_info_text {
        padding: 0 20px;
    }

    .about_vektor {
        height: 706px;

    }

    .services_title {
        display: flex;
        justify-content: flex-start;
    }

    .all_services {
        display: none;
    }

    .clients_04 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .clients_logo {
        display: flex;
        flex-wrap: wrap;
        max-width: 424px;
        gap: 0;
    }

    .clients_logo_item:nth-child(n+13) {
        display: none;
    }

    .news_text {
        display: none;
    }

    .clients_05 {
        margin-top: -52px;
    }

    .help {
        font-size: 20px;
        color: #FFFFFF;
        padding-top: 146px;
        padding-left: 20px;
    }

    .help_text {
        max-width: 420px;
        color: #FFFFFF;
        font-size: 14px;
        padding: 0 20px;
    }

    .send_request_vector {
        width: 586px;
    }

    .help_input_text {
        width: 390px;
    }

    .help_input_button {
        width: 390px;
    }

    .contacts {
        margin-left: 0px;
    }

    .footer_item {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}