body {
    font-family: Raleway;
}

.margin_auto {
    margin: 0 auto;
}

.header {
    background: linear-gradient(90deg, rgba(153, 27, 31, 1) 33%, rgba(237, 28, 36, 1) 69%, rgba(237, 28, 36, 1) 99%);
    padding-top: 28px;
    padding-bottom: 42px;
}

.header_menu ul li {
    list-style: none;
}

.header_menu a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.header_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_menu {
    display: flex;
}

.header_logo {
    display: flex;
}

.services_contener_1 {
    display: flex;
}

.services_contener_1_title {
    width: 478px;
    font-size: 50px;
    font-weight: 900;
    padding-top: 67px;
    padding-left: 226px;
    padding-bottom: 43px;
}

.services_contener_1_info {
    display: flex;
    width: 1293px;
    height: 720px;
    background-image: url(../assets/img/fon-min.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 226px;
}

.services_contener_1_text {
    width: 460px;
    color: #fff;
    font-size: 16px;
    padding-top: 50px;

}

.services_contener_1_img {
    width: 664px;
    height: 631px;
    margin-top: -128px
}

.services_contener_2 {
    display: flex;
}

.services_contener_2_vector {
    width: 89vw;
    height: 61vw;
    background-image: url(../assets/icon/services/Vector\ 3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services_contener_2_info {
    display: flex;
}

.services_contener_2_text {
    width: 566px;
    padding-top: 152px;
    margin-left: -26px;
}

.services_contener_2_img img {
    width: 570px;
    height: 520px;
    padding-top: 20px;
    padding-left: 84px;
}

.services_contener_2_title {
    font-size: 28px;
}

.slider_title {
    font-size: 50px;
    font-weight: 900;
    padding-left: 120px;
    padding-top: 26px;
}

.slider_item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slider_img {
    display: flex;
    padding-top: 60px;
}

.slider_img_item {
    width: 370px;
    height: 456px;
    background-image: url(../assets/icon/services/Photo-607\ \(166\)\ \(1\)\ 1-min.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.slider_img_item p {
    font-size: 35px;
    width: 228px;
    color: #fff;
    padding-left: 18px;
    padding-top: 29px;
    font-weight: 900;
}

.slider_img_item img {
    padding-top: 228px;
    padding-left: 18px;
}

.footer {
    padding-top: 240px;
    padding-bottom: 40px;
}

.footer_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_nav {
    display: flex;
}

.footer_nav ul li {
    list-style: none;
}

.footer_nav a {
    text-decoration: none;
    color: #A31C21;
    font-size: 12px;
}