body {
    font-family: Raleway;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.margin_auto {
    margin: 0 auto;
}

.header {
    background: linear-gradient(90deg, rgba(153, 27, 31, 1) 33%, rgba(237, 28, 36, 1) 69%, rgba(237, 28, 36, 1) 99%);
    padding-top: 28px;
    padding-bottom: 42px;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.menu ul li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.header_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
}

.header_logo {
    display: flex;
}

.news {
    display: flex;
}

.news_info_titli {
    padding-top: 66px;
    width: 512px;
    font-size: 40px;
    font-weight: 900;
}

.news_info_contener p {
    width: 460px;
    padding-right: 40px;

}

.news_info_img {
    width: 670px;
    height: 566px;
    background-image: url(../assets/img/project/Photo-164\ \(1\)\ 2-min.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news_info_contener {
    display: flex;
    padding-top: 50px;

}

.news_info_text {
    padding-top: 42px;
    width: 1170px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_nav {
    display: flex;
}

.footer_nav ul li {
    list-style: none;
}

.footer_nav a {
    text-decoration: none;
    color: #A31C21;
    font-size: 12px;
}

@media(max-width:992px) {

    .menu {
        display: none;
        position: absolute;
        top: 120px;
        right: 0;
        width: 100%;
        background: linear-gradient(90deg, rgba(153, 27, 31, 1) 50%, rgba(237, 28, 36, 1) 69%);
        text-align: center;
        opacity: 0.9;
    }

    .menu ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu a {
        font-size: 25px;
        font-weight: 900;
    }

    .burger-menu {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }

    .news_info_contener p {
        width: 360px;
    }

    .news_info {
        padding: 0 20px;
    }

    .news_info_text {
        padding-top: 42px;
        padding-left: 20px;
        width: 872px;
    }
}

@media(max-width:767px) {
    .news_info_img {
        width: 500px;
    }

    .news_info_text {
        width: 500px;
    }

    .news_info p {
        display: none;
    }

    .footer_item {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}