body {
    font-family: Raleway;
}

.margin_auto {
    margin: 0 auto;
}

.header {
    background: linear-gradient(90deg, rgba(153, 27, 31, 1) 33%, rgba(237, 28, 36, 1) 69%, rgba(237, 28, 36, 1) 99%);
    padding-top: 28px;
    padding-bottom: 42px;
}

.header_menu ul li {
    list-style: none;
}

.header_menu a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.header_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_menu {
    display: flex;
}

.header_logo {
    display: flex;
}

.news {
    display: flex;
}

.news_info_titli {
    padding-top: 66px;
    width: 512px;
    font-size: 40px;
    font-weight: 900;
}

.news_info_contener p {
    width: 460px;
    padding-right: 40px;

}

.news_info_img {
    width: 670px;
    height: 566px;
    background-image: url(../assets/img/project/Photo-164\ \(1\)\ 2-min.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.news_info_contener {
    display: flex;
    padding-top: 50px;

}

.news_info_text {
    padding-top: 42px;
    width: 1170px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_nav {
    display: flex;
}

.footer_nav ul li {
    list-style: none;
}

.footer_nav a {
    text-decoration: none;
    color: #A31C21;
    font-size: 12px;
}